doctype html
head
  title
    | When confronted with body shaming ...
  // Bootstrap link
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  // JQuery link
  script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
  // Google fonts
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:wght@300;400;700&family=PT+Serif&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='css/articles.css')
section#first
  .first.row
    .first-col-bar.col-lg-2.col-md-0.col-sm-0
      p#bar-parah
        | Shame
      iframe.first-bar-bottom(src='https://giphy.com/embed/Q9tPCymxQdr8FTaHtT' width='80%' frameborder='0')
      img.second-bar-img1(style='' :='' width='50%' src='../images/body shame.png')
      iframe.second-bar-center2(src='https://giphy.com/embed/ehJOiib5ZKNw86OOIV' width='80%' frameborder='0')
      img.second-bar-img2(style='' :='' width='50%' src='../images/body shame.png')
      iframe.second-bar-center1(src='https://giphy.com/embed/d7rEEfgSHfhRtF3Z3E' frameborder='0')
    .first-col-parah.col-lg-10
      h1.first-heading1
        | When confronted with body shaming ...
      p#intro
        .intro-row.row
          .intro-col-third.col-lg-8.col-md-6
            | Body shaming interactions don&apos;t always have to end with the receiver of the shaming feeling like
            | complete and utter garbage (or breaking any dishes). There are plenty of things to keep in mind
            | when you encounter body shaming. So the next time you encounter body shaming &mdash; be it directed at
            | your or towards others &mdash; try to keep these seven things in mind.
          .intro-col.picture.col-lg-4.col-md-6.col-sm-0
            // <iframe src="https://giphy.com/embed/AzAg5HDPK9LCVzNciO" width="80%" frameBorder="0"></iframe>
            img(style='' :='' width='50%' src='../images/body shame.png')
      h2.second-heading
        | 1. It&apos;s Not About You
      p
        | This is the first thing you should keep in mind when you encounter body shaming, as your choice to
        | un-internalize might help you decide what you do next. Think about it: If you immediately take
        | someone&apos;s shaming words to heart, you might end up being too hurt or embarrassed to take the
        | interaction any further.
        | Remember that the shaming, cruel things another person says are about their own prejudices and
        | misconceptions, not about who you are as a person. Though it might be the shamer&apos;s intention to make
        | you feel like crap, you don&apos;t have to absorb their words, take them seriously, or think about them
        | for any longer than the moment.
      h2.second-heading
        | 2. If You Can Defend Yourself Or Others, You Should
      p
        | If you&apos;re mentally and emotionally strong enough to defend yourself or another person from being
        | body shamed, you should. Some people might think it&apos;s not their place, or that it&apos;s not worth it to
        | stand up to the person doing the shaming. While it&apos;s probably not a good idea to get into a serious
        | verbal or physical altercation, it&apos;s worth taking them to task and defending yourself or others. If
        | your emotions aren&apos;t getting the best of you, try to speak with the offending person directly and
        | explain why their comments are harmful.
      h2.second-heading
        | 3. But If You Can&apos;t, That&apos;s OK Too
      p
        | It&apos;s great if you feel strong enough to stand up against body shaming, but if you can&apos;t, it doesn&apos;t
        | mean you get bad marks. Depending on our life situations, circumstances, and past experiences, we
        | simply might not have the chutzpah to stand up for ourselves.
        | There have been a handful of times when I, a normally brash and unrelenting conversation partner,
        | have simply shrugged my shoulders at the words being said to me, purely because I didn&apos;t have it in
        | me to argue at that moment. We live in a world where dealing with shaming imagery and messages is
        | literally an everyday, non-stop thing. No one will blame you for being exhausted by it all. Simply
        | put, you&apos;re allowed to choose your battles.
        | For example, if the offending person is a member of the family or a good friend, letting their
        | dinner table comment slide and not disrupting what is otherwise a pleasant evening might be an act
        | of self-preservation. In those instances, try gathering your thoughts and talking with the person
        | privately later on. Additionally, it might not be worth your sanity getting into a long discussion
        | about body shaming with someone who seems wholly committed to being ignorant and cruel. It might
        | sound odd, but my best tactic for determining if someone is worth educating is to simply ask them if
        | they&apos;d be open to hearing another side of the story. Based on the tone of their response, you&apos;ll
        | know if they&apos;re a lost cause or not.
      h2.second-heading
        | 4. Some People Might Not Know They&apos;re Doing It
      p
        | If someone screams, &quot;Hey, you fat/skinny/short/tall/etc. bitch,&quot; then it&apos;s pretty obvious that
        | they&apos;re body shaming you. Unfortunately, those situations are much rarer than subtle body shaming.
        | Sentences regarding &quot;good&quot; food and &quot;bad&quot; food, &quot;flattering&quot; outfits, and &quot;real&quot; women have body
        | shaming subtexts that shouldn&apos;t be ignored. However, because those messages are so prevalent and
        | commonplace in our society, the person saying them might not know that what they&apos;re actually doing
        | is body shaming.
        | If the body shaming is coming from someone you care about and trust, try to engage with them. It
        | might mean the difference between a negative interaction and an experience that can be ultimately
        | positive.
      h2.second-heading
        | 5. Anger Is An Acceptable Response
      p
        | Society often has an incredibly dangerous attitude that dictates the type of responses that women
        | have to conflict: When we encounter it, we should demurely lower our heads, only indicating our
        | disagreement (very politely), or trying to change the subject. However, the expectation for women to
        | remain polite and/or look the other way is rooted in misogyny, and it&apos;s part of what keeps us
        | oppressed.
        | That being said, body shaming is conflict, and if you encounter it and it rubs you the wrong way,
        | you&apos;re allowed to get angry: Unabashedly, vocally, red-facedly angry. In certain contexts, body
        | shaming should spark anger. If you feel that rage bubbling up inside of you, there&apos;s probably a good
        | reason for it. Don&apos;t be afraid to express it.
        | However, it&apos;s important to note that anger expressed directly at the cause of the anger, in the heat
        | of the moment, is rarely productive. Instead, unapologetically let the person know you&apos;re angry,
        | remove yourself from the situation, and use the energy you would have spent yelling and screaming to
        | brainstorm ways to fight against body shaming in the future. As mentioned in No. 3, you can then
        | decide if the particular person who stoked your anger is worth rehashing the issue with in the
        | future.
      h2.second-heading
        | 6. It&apos;s A Potential Opportunity To Educate
      p
        | When the cruel words have been said and your anger subsides, remember that many negative
        | interactions like this have the potential for a positive outcome. Maybe that means you direct the
        | body shamer to some body positive resources to consider, or maybe it means you take away lessons
        | that will help you handle a similar situation better next time. Perhaps the people around you will
        | learn from it as well, even if they don&apos;t say so. It&apos;s difficult to find the positives in body
        | shaming, but if you keep an open mind, you&apos;ll find them.
      h2.second-heading
        | 7. This Experience Will Not Be Every Experience
      p
        | Not all body shamers are created equal, and therefore not all body shaming experiences are either.
        | You might come across an overtly cruel body shamer who wants nothing more than to hurt you and
        | impose their bad ideas onto you. Then later, you might meet someone who simply had no idea that
        | their words were actually harmful, and would be open to doing better in the future.
        | With something as pervasive as body shaming, it&apos;s possible to encounter it from all angles, all
        | different kinds of people, and structured in many different ways. Try to gauge and handle every
        | situation differently, as there&apos;s no one-size-fits all approach to something as nuanced as this.
        | These are just some of the personal tactics that I&apos;ve found successful when it comes time to
        | confront body shaming. The next time shaming like this rears its ugly head, keep these points in
        | mind and remember: No matter what you do, you&apos;re helping fight a battle that we all deserve to win.
section#first-footer
  | FIGHT BODY SHAMING!