doctype html
head
  title
    | Healthy families
  // Bootstrap link
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  // JQuery link
  script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
  // Google fonts
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:wght@300;400;700&family=PT+Serif&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='css/healthy families.css')
section#header
  .header-row.row
    .header-col1.col-lg-8.col-md-6
      h1#big-heading
        | Healthy families ...
      p#header-parah
        | As parents, our words have power; as much as we can, we need to use that power for good.
    .header-col2.col-lg-4.col-md-0.col-sm-0
      img#header-img(style='width: 50%; border-radius: 100%;' src='../images/healthyfamilies.jpg' alt='family-img')
section#body
  .body-row.row
    .body-col.col-lg-7
      p
        | As a parent, it&rsquo;s easy to slip into shaming your child. It can happen so easily, as you blurt out
        | what you are thinking:
      p.pre
        | &ldquo;Do you really want to go out looking like that?&rdquo;
        br
        |                     &ldquo;You let your teammates down during that game.&rdquo;
        br
        |                     &ldquo;Why can&rsquo;t you get good grades like your sister?&rdquo;
        br
        |                     &ldquo;Why do you hang out at home all the time instead of going out like other kids?&rdquo;
        br
        |                     &ldquo;Why are you crying? It&rsquo;s not that bad.&rdquo;
        br
      |                 As we blurt out such things, we usually don&rsquo;t think of them as shaming. We think of them as something
      |                 that might help our child recognize a problem &mdash; and perhaps motivate them to change. We think of them as
      |                 constructive criticism.
      p
  div(id='body-parah row')
    .body-parah-col1.col-lg-3
    .body-parah-col.col-lg-9
      h2.body-heading
        | The line between criticism and shaming
      |                 The problem is that there is a fine line between criticism and shaming &mdash; and shaming is a bad idea.
      |                 Here&rsquo;s
      |                 why:
      br
      br
      p.pre
        | Sometimes children truly cannot change what is being shamed. Not everyone is a star student or
        | athlete,
        | we all make mistakes despite our best efforts, and some children are more sensitive or introverted
        | than
        | others, for example. We also can&rsquo;t always change how we look, which is why fat-shaming is a terrible
        | idea.
        br
        br
        |                     Sometimes what is being shamed is part of a child&rsquo;s identity. Clothing choices are a good example,
        |                     especially for teens. So is how and with whom a child chooses to spend their time.
        br
        br
        |                     Shaming may make children feel like they cannot change. Rather than motivating them, it may make
        |                     them
        |                     feel like they aren&rsquo;t capable. And as a corollary and consequence&mldr;,
        br
        br
        |                     Shaming may make children feel bad about themselves. When the people you love the most, and whose
        |                     opinion matters most, say bad things about you, it can be more than hurtful &mdash; it can affect your
        |                     self-esteem in ways that can become ingrained and permanent.
        br
        br
      h2.body-heading
        | How to put a stop to shaming
      p.pre
        | To prevent shaming, we need to stop and think before we speak. There are two things you should
        | always ask yourself if you are about to criticize your child:
        br
        |                     Is this something they can change?
        br
        br
        |                     Is it important that they change it?
        br
        br
        |                     Be really honest with yourself about the answers, especially to the second question. If the answer
        |                     to either one is no, then it&rsquo;s not something to criticize, end of story. Don&rsquo;t take the risk of
        |                     shaming or hurting your relationship with your child &mdash; and don&rsquo;t waste your time or energy.
        br
        br
        |                     If the answer to both is yes, then ask yourself these questions:
        br
        br
        |                     Is this a good place and time to say anything?
        br
        br
        |                     Do they want to change this behavior?
        br
        br
        |                     Criticizing a child in public may be important, especially if they have been rude or hurtful to
        |                     someone, or done something that could be unsafe. But outside of those circumstances, public
        |                     criticism is shaming. It also may not be a great idea to criticize when a child is already upset, or
        |                     when they are in a situation where they need to keep their composure or not be distracted; that&rsquo;s
        |                     less about shaming and more about being kind and effective.
        br
        br
        |                     If a child really doesn&rsquo;t want to change a behavior, then you are going to have to think of a
        |                     different way of managing it than just pointing it out. Which leads to the last and most important
        |                     question:
        br
        br
        |                     Is there a better way of changing this behavior?
        br
        br
        |                     The answer to that is most likely going to be yes.
        br
        br
        |                     We do best as parents when we take the time to understand why our children do what they do &mdash; and
        |                     find collaborative, supportive ways to help them make safe, kind, and healthy choices. As parents,
        |                     our words have power; as much as we can, we need to use that power for good.
  img#body-img1(src='../images/family.jpg')
section#first-footer
  img.footer-img(src='../images/body shame.png')
  |         FIGHT BODY SHAMING!
  img.footer-img(src='../images/body shame.png')
