doctype html
head
  title Your survey
  // Bootstrap link
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  // JQuery link
  script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
  // Google fonts
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:wght@300;500;700&family=PT+Serif&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap' rel='stylesheet')
  // CSS stylesheet
  link(rel='stylesheet' href='css/form2.css')
section#Q1
  form.Q1
    .form-group.question
      label(for='exampleInputEmail1') Q. Name the strongest part of you.
      input#exampleInputEmail1.form-control(type='text' aria-describedby='emailHelp' placeholder='Eg: brain, or heart, or muscles etc.')
    button.btn.btn-1.btn-outline-dark.btn-block(type='button') Next
  hr.style-five
section#Q2
  form.Q2
    .form-group.question
      label(for='exampleInputEmail1') Q. Name the most beautiful part of you.
      input#exampleInputEmail1.form-control(type='text' aria-describedby='emailHelp' placeholder='Type your answer here')
    button.btn.btn-2.btn-outline-dark.btn-block(type='button') Next
  .style-five
  hr.style-five
section#Q3
  form.Q3
    .form-group.question
      label(for='exampleInputEmail1') Q. Name the sexiest part of you.
      input#exampleInputEmail1.form-control(type='text' aria-describedby='emailHelp' placeholder='Type your answer here')
    button.btn.btn-3.btn-outline-dark.btn-block(type='button') Next
  .style-five
  hr.style-five
section#Q4
  form.Q4
    .form-group.question
      label(for='exampleInputEmail1') Q. Name the part which you would you never like to change?
      input#exampleInputEmail1.form-control(type='text' aria-describedby='emailHelp' placeholder='Type your answer here')
    button.btn.btn-4.btn-outline-dark.btn-block(type='button') Submit
  .style-five
  hr.style-five
footer
  img#logo-img(src='../images/body shame.png')
  a(href='/realisations')
    p#footer-parah
      | Head over to some 
      em beautiful
      |  realisations ...
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
script(src='form2.js')
